@use "sass:math";
@import "_mixins.scss";
@import "_reset.scss";
@import "_fonts.scss";

body {
      display: flex;
      gap: rem(20);
      justify-content: space-around;
      padding-top: rem(70);
}
button {
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      font-size: rem(20);
      min-width: rem(70);
      height: rem(50);
      padding: rem(10) rem(20);
      color: #1b4aa3;
      background-color: #e1effa;
      border: 1px solid #3f79cf;
      border-radius: rem(5);
      text-align: center;
}